<!-- Portfolio Start -->
<section class="portfolio-section-home1">
  <div class="container-fluid">
     <div class="swiper-slider slider-tooltip" data-loop="true"  data-autoplay="false" data-dots="false" data-arrows="false"  data-columns="5" data-margin="30" data-effect="slide">
        <div class="swiper-wrapper">
           <div class="swiper-slide">
              <!-- Slide1 -->
              <div class="pbmit-portfolio-style-3">
                 <div class="pbminfotech-post-content" data-cursor-tooltip="" >
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/project/project-01.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="pbminfotech-box-content">
                       <div class="pbmit-port-cat">
                          <a href="#">Business</a>
                       </div>
                       <h3 class="pbmit-title">Medical Negligence</h3>
                    </div>
                 </div>
              </div>
           </div>
           <div class="swiper-slide">
              <!-- Slide2 -->
              <div class="pbmit-portfolio-style-3">
                 <div class="pbminfotech-post-content" data-cursor-tooltip="">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/project/project-02.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="pbminfotech-box-content">
                       <div class="pbmit-port-cat"><a href="#">Financial</a></div>
                       <h3 class="pbmit-title">Tax Consultancy</h3>
                    </div>
                 </div>
              </div>
           </div>
           <div class="swiper-slide">
              <!-- Slide3 -->
              <div class="pbmit-portfolio-style-3">
                 <div class="pbminfotech-post-content" data-cursor-tooltip="">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/project/project-03.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="pbminfotech-box-content">
                       <div class="pbmit-port-cat"><a href="#">Business</a></div>
                       <h3 class="pbmit-title">Trade and Markets</h3>
                    </div>
                 </div>
              </div>
           </div>
           <div class="swiper-slide">
              <!-- Slide4 -->
              <div class="pbmit-portfolio-style-3">
                 <div class="pbminfotech-post-content" data-cursor-tooltip="">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/project/project-04.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="pbminfotech-box-content">
                       <div class="pbmit-port-cat"><a href="#">Personal</a></div>
                       <h3 class="pbmit-title">Marriage Agreements</h3>
                    </div>
                 </div>
              </div>
           </div>
           <div class="swiper-slide">
              <!-- Slide5 -->
              <div class="pbmit-portfolio-style-3">
                 <div class="pbminfotech-post-content" data-cursor-tooltip="">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/project/project-05.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="pbminfotech-box-content">
                       <div class="pbmit-port-cat"><a href="#">Criminal</a></div>
                       <h3 class="pbmit-title">Car Accident Case</h3>
                    </div>
                 </div>
              </div>
           </div>
           <div class="swiper-slide">
              <!-- Slide6 -->
              <div class="pbmit-portfolio-style-3">
                 <div class="pbminfotech-post-content" data-cursor-tooltip="">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/project/project-06.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="pbminfotech-box-content">
                       <div class="pbmit-port-cat"><a href="#">Business</a></div>
                       <h3 class="pbmit-title">Public Company Fraud</h3>
                    </div>
                 </div>
              </div>
           </div>
           <div class="swiper-slide">
              <!-- Slide7 -->
              <div class="pbmit-portfolio-style-3">
                 <div class="pbminfotech-post-content" data-cursor-tooltip="">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/project/project-07.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="pbminfotech-box-content">
                       <div class="pbmit-port-cat"><a href="#">Civil</a></div>
                       <h3 class="pbmit-title">Privacy Matter</h3>
                    </div>
                 </div>
              </div>
           </div>
           <div class="swiper-slide">
              <!-- Slide8 -->
              <div class="pbmit-portfolio-style-3">
                 <div class="pbminfotech-post-content" data-cursor-tooltip="">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/project/project-08.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="pbminfotech-box-content">
                       <div class="pbmit-port-cat"><a href="#">Family</a></div>
                       <h3 class="pbmit-title">Family Violence</h3>
                    </div>
                 </div>
              </div>
           </div>
           <div class="swiper-slide">
              <!-- Slide9 -->
              <div class="pbmit-portfolio-style-3">
                 <div class="pbminfotech-post-content" data-cursor-tooltip="">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/project/project-09.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="pbminfotech-box-content">
                       <div class="pbmit-port-cat"><a href="#">Criminal</a></div>
                       <h3 class="pbmit-title">Criminal Tax Evasion</h3>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- Portfolio End -->
