<!-- Header Main Area -->
<header class="site-header header-style-1">
  <div class="site-header-menu">
    <div class="container-fluid g-0">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="d-flex align-items-center justify-content-between">
            <div
              class="d-flex align-items-center justify-content-between header-content"
            >
              <div class="site-branding pbmit-logo-area">
                <h1 class="site-title">
                  <a routerLink="/">
                    <!-- <img class="logo-img" src="images/logo.svg" alt="attorly"> -->
                    <img
                      class="logo-img"
                      src="/assets/images/cosanex_logo_white_new.png"
                      alt="cosanex"
                    />
                  </a>
                </h1>
              </div>
              <div class="site-navigation">
                <nav class="main-menu navbar-expand-xl navbar-light">
                  <div class="navbar-header">
                    <!-- Toggle Button -->
                    <button class="navbar-toggler" type="button">
                      <i class="pbmit-base-icon-menu-1"></i>
                    </button>
                  </div>
                  <div class="pbmit-mobile-menu-bg"></div>
                  <div
                    class="collapse navbar-collapse clearfix show"
                    id="pbmit-menu"
                  >
                    <div class="pbmit-menu-wrap">
                      <span class="closepanel">
                        <i
                          class="pbmit-base-icon-close-circular-button-symbol"
                        ></i>
                      </span>
                      <ul class="navigation clearfix">
                        <li><a href="/">Home</a></li>
                        <li class="dropdown">
                          <a href="/services/01">Our Services</a>
                          <ul>
                            <li *ngFor="let service of services">
                              <a [href]="'/services/' + service.id">{{
                                service.name
                              }}</a>
                            </li>
                          </ul>
                        </li>
                        <li><a href="/aboutus">About us</a></li>
                        <li class="dropdown">
                          <a href=""><span><img src="assets/images/flag/eng.avif" width="20" height="15"/></span></a>
                          <ul>
                            <li>
                              <a href=""><span><img src="assets/images/flag/eng.avif" width="20" height="15"/></span></a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
            <div class="pbmit-right-box">
              <!-- <div class="pbmit-header-search-btn">
                <a href="#"><i class="pbmit-base-icon-search-1"></i></a>
              </div> -->
              <div class="menu-right-box d-flex align-items-center">
                <div class="pbmit-button">
                  <a href="/aboutus" class="pbmit-btn">
                    <span class="pbmit-header-button-text-1"
                      >About Us</span
                    >
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="router.url == '/'">
    <!-- pbmit-header-overlay -->
    <div class="pbmit-slider-social">
      <ul class="pbmit-social-links">
        <li class="pbmit-social-li pbmit-social-facebook">
          <a href="#" target="_blank" rel="noreferrer">
            <span><i class="pbmit-base-icon-facebook-squared"></i></span>
          </a>
        </li>
        <li class="pbmit-social-li pbmit-social-twitter">
          <a href="#" target="_blank" rel="noreferrer">
            <span><i class="pbmit-base-icon-twitter"></i></span>
          </a>
        </li>
        <li class="pbmit-social-li pbmit-social-instagram">
          <a href="#" target="_blank" rel="noreferrer">
            <span><i class="pbmit-base-icon-instagram"></i></span>
          </a>
        </li>
        <li class="pbmit-social-li pbmit-social-youtube">
          <a href="#" target="_blank" rel="noreferrer">
            <span><i class="pbmit-base-icon-youtube-play"></i></span>
          </a>
        </li>
      </ul>
    </div>
    <app-slider></app-slider>
  </ng-container>
</header>
<!-- Header Main Area End Here -->
