<!-- footer -->
<footer class="footer site-footer">
  <div class="footer-wrap pbmit-footer-big-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div
            class="pbmit-footer-logo"
            style="display: flex; align-items: center"
          >
            <img
              src="assets/images/cosanex_logo_nameless.png"
              alt="Attorly Demo 1"
            />
            <h1 style="margin-left: 10px; color: black; font-size: 1.5rem">
              cosanex
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pbmit-footer-widget-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="widget">
            <h3 class="widget-title">Contact Us</h3>
            <div class="pbmit-contact-widget-lines">
              <div class="pbmit-contact-widget-line widget-address">
                Suit 1809, 18th Floor, Business Tower, SBD-1, Ulaanbaatar,
                Mongolia
              </div>
              <div class="pbmit-contact-widget-line widget-phone">
                contact@cosanex.mn
              </div>
              <div class="pbmit-contact-widget-line widget-phone">
                +(976) 75350835
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pbmit-footer-section">
    <div class="container">
      <div class="pbmit-footer-text-inner">
        <div class="row gy-3">
          <div class="col-md-6">
            <div class="pbmit-footer-copyright-text-area">
              Copyright © 2023 <a href="#">Cosanex Partners LLP</a>, All Rights
              Reserved.
            </div>
          </div>
          <div class="col-md-6">
            <div
              class="pbmit-footer-copyright-text-area footer-copyright-inner-text text-muted"
            >
              Crafted with 
              <img width="18" height="18" src="https://img.icons8.com/color-glass/48/like--v1.png" alt="like--v1"/>
              by
              <a target="_blank" href="https://www.blueprint.mn"
                > Blueprint Team</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer End -->
