<!-- footer -->
<footer class="footer site-footer">
  <div class="footer-wrap pbmit-footer-big-area">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="pbmit-footer-logo">
                 <img src="assets/images/logo2.svg" alt="Attorly Demo 1">
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="pbmit-footer-widget-area">
     <div class="container">
        <div class="row">
           <div class="col-md-12 col-lg-12">
              <div class="widget">
                 <h3 class="widget-title">Contact Us</h3>
                 <div class="pbmit-contact-widget-lines">
                    <div class="pbmit-contact-widget-line widget-address">Suit 1809, 18th Floor, Business Tower, SBD-1, Ulaanbaatar, Mongolia</div>
                    <div class="pbmit-contact-widget-line widget-phone">contact@cosanex.mn</div>
                    <div class="pbmit-contact-widget-line widget-phone">+(976) 75350835</div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
  <div class="pbmit-footer-section">
     <div class="container">
        <div class="pbmit-footer-text-inner">
           <div class="row">
              <div class="col-md-6">
                 <div class="pbmit-footer-copyright-text-area"> Copyright © 2023
                    <a href="#">Blueprint Solutions LLC</a>, All Rights Reserved.
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</footer>
<!-- footer End -->
