<!-- Welcome -->
<section class="about-section-home" data-cursor="white-color">
  <div class="container">
     <div class="row">
       <div class="col-xl-4 col-md-6">
        <div class="pbmit-ihbox pbmit-ihbox-style-2 pbmit-ihbox-one">
           <div class="pbmit-ihbox-box d-flex align-items-center">
              <div class="pbmit-ihbox-icon">
                 <div class="pbmit-ihbox-icon-wrapper">
                    <div class="pbmit-icon-wrapper pbmit-icon-type-icon">
                       <i class="pbmit-attorly-icon pbmit-attorly-icon-courthouse-2"></i>
                    </div>
                 </div>
              </div>
              <div class="pbmit-ihbox-headingicon">
                 <h4 class="pbmit-element-heading"> Book Your</h4>
                 <h2 class="pbmit-element-title">Appointment</h2>
              </div>
           </div>
        </div>
       </div>
       <div class="col-xl-4 col-md-6">
        <div class="pbmit-ihbox pbmit-ihbox-style-2 pbmit-ihbox-two">
           <div class="pbmit-ihbox-box d-flex align-items-center">
              <div class="pbmit-ihbox-icon">
                 <div class="pbmit-ihbox-icon-wrapper">
                    <div class="pbmit-icon-wrapper pbmit-icon-type-icon">
                       <i class="pbmit-attorly-icon pbmit-attorly-icon-law"></i>
                    </div>
                 </div>
              </div>
              <div class="pbmit-ihbox-headingicon">
                 <h4 class="pbmit-element-heading"> Get Free</h4>
                 <h2 class="pbmit-element-title"> Expert Advice</h2>
              </div>
           </div>
        </div>
     </div>
     <div class="col-xl-4 col-md-6">
        <div class="pbmit-ihbox pbmit-ihbox-style-2 pbmit-ihbox-three">
           <div class="pbmit-ihbox-box d-flex align-items-center">
              <div class="pbmit-ihbox-icon">
                 <div class="pbmit-ihbox-icon-wrapper">
                    <div class="pbmit-icon-wrapper pbmit-icon-type-icon">
                       <i class="pbmit-attorly-icon pbmit-attorly-icon-contract-1"></i>
                    </div>
                 </div>
              </div>
              <div class="pbmit-ihbox-headingicon">
                 <h4 class="pbmit-element-heading">You Can Easily</h4>
                 <h2 class="pbmit-element-title">Join Our Team</h2>
              </div>
           </div>
        </div>
     </div>
     </div>
  </div>
</section>
<!-- Welcome End -->
