<!-- Service Start -->
<section
  class="service-section-home1 pbmit-element-service-style-1"
  data-cursor="global-color"
>
  <div class="container-fluid">
    <div class="row g-4">
      <div
        class="col-sm-6 col-md-4 col-xl-3"
        *ngFor="let slide of sliders; let i = index"
        
      >
        <a class="service-card h-100" [href]="'/services/' + slide.id">
          <div class="d-flex">
            <div class="">
              <div class="custom-img-wrapper">
                <img [src]="slide.img" class="img-fluid" alt="" />
              </div>
            </div>
          </div>
          <div class="service-item">
            <p style="font-size: 1.2rem; font-weight: 600">{{ slide.name }}</p>
            <p>
              {{ slide.desc }}
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Service End -->
