<!-- About Start -->
<section class="about-us-home1" data-cursor="global-color">
  <div class="container">
    <div class="row g-0" data-cursor="blackish-color">
      <div class="col-md-7">
        <div class="about-section-1">
          <div class="pbmit-heading text-left bg-color-dark animation-style2">
            <h2 class="pbmit-title">
              Full service<br />
              law firm in Mongolia
            </h2>
          </div>
          <div class="position-relative">
            <div class="text-end">
              <div class="pbmit-animation-style1">
                <img
                  src="assets/images/pbmit-single02.jpeg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="about-us-main-home1">
              <div class="pbmit-ihbox pbmit-ihbox-style-4">
                <div class="pbmit-ihbox-box">
                  <div class="pbmit-ihbox-icon">
                    <div class="pbmit-ihbox-icon-wrapper">
                      <div class="pbmit-icon-wrapper pbmit-icon-type-icon">
                        <i
                          class="pbmit-attorly-icon pbmit-attorly-icon-download"
                        ></i>
                      </div>
                    </div>
                  </div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1"
                    viewBox="0 0 200 200"
                  >
                    <defs>
                      <path
                        d="M0, 100a100, 100 0 1, 0 200, 0a100, 100 0 1, 0 -200, 0"
                        id="txt-path"
                      ></path>
                    </defs>
                    <text>
                      <textPath startOffset="0" xlink:href="#txt-path">
                        -More About Us-More About Us- More About Us
                      </textPath>
                    </text>
                  </svg>
                </div>
                <div class="pbmit-ihbox-headingicon">
                  <div class="pbmit-ihbox-headingicon-inner"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="about-right-section-home1">
          <div class="pbmit-animation-style2">
            <img
              src="assets/images/pbmit-single01.jpeg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="about-heading">
            Cosanex Partners LLP was established in 2016 aiming for excellence, integrity,
availability, client focus – are at the heart of our commitment to offers high quality legal
services combining in-depth local expertise with international standards, in various areas of
Mongolian law, including but not limited to banking and finance, corporate, mining, and real
estate, litigation as well as infrastructure and foreign investment.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->
