<!-- About Start -->
<section class="about-us-home1" data-cursor="global-color">
  <div class="container">
    <div class="row g-0" data-cursor="blackish-color">
      <div class="col-md-7">
        <div class="about-section-1">
          <div class="pbmit-heading text-left bg-color-dark animation-style2">
            <h2 class="pbmit-title">
              We are the Leading<br />
              Legal Service for Annual Revenues
            </h2>
          </div>
          <div class="position-relative">
            <div class="text-end">
              <div class="pbmit-animation-style1">
                <img
                  src="assets/images/pbmit-single02.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
            <div class="about-us-main-home1">
              <div class="pbmit-ihbox pbmit-ihbox-style-4">
                <div class="pbmit-ihbox-box">
                  <div class="pbmit-ihbox-icon">
                    <div class="pbmit-ihbox-icon-wrapper">
                      <div class="pbmit-icon-wrapper pbmit-icon-type-icon">
                        <i
                          class="pbmit-attorly-icon pbmit-attorly-icon-download"
                        ></i>
                      </div>
                    </div>
                  </div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    version="1.1"
                    viewBox="0 0 200 200"
                  >
                    <defs>
                      <path
                        d="M0, 100a100, 100 0 1, 0 200, 0a100, 100 0 1, 0 -200, 0"
                        id="txt-path"
                      ></path>
                    </defs>
                    <text>
                      <textPath startOffset="0" xlink:href="#txt-path">
                        -More About Us-More About Us- More About Us
                      </textPath>
                    </text>
                  </svg>
                </div>
                <div class="pbmit-ihbox-headingicon">
                  <div class="pbmit-ihbox-headingicon-inner"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="about-right-section-home1">
          <div class="pbmit-animation-style2">
            <img
              src="assets/images/pbmit-single01.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="about-heading">
            The best advertisement for a service is its quality. We are one of
            thebest experts in corporate, energy, construction, development
            public and private partnership, financing, environment, and property
            management, we provide high-level professional service, and
            evidence-proven and systematic advice. We directly communicate with
            our customers on Mongolian, English, French and Russian, Japanese
            languages.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->
