<!-- Team Start -->
<section class="team-style-1 pbmit-bg-color-blackish"  data-cursor="white-color">
  <div class="pbmit-element-team-style-1">
     <div class="container-fluid">
        <div class="row g-0 hove-img">
           <div class="col-md-12 col-lg-4">
              <div class="pbmit-team-style-1">
                 <div class="pbminfotech-post-item">
                    <div class="pbmit-featured-img-wrapper">
                       <div class="pbmit-featured-wrapper">
                          <img src="assets/images/team/team-01.jpg" class="img-fluid" alt="">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-12 col-lg-4">
              <div class="pbmit-team-style-1">
                 <div class="pbminfotech-post-item">
                    <div class="pbmit-featured-img-wrapper">
                       <div class="pbmit-featured-wrapper">
                          <img src="assets/images/team/team-02.jpg" class="img-fluid" alt="">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-12 col-lg-4">
              <div class="pbmit-team-style-1">
                 <div class="pbminfotech-post-item">
                    <div class="pbmit-featured-img-wrapper">
                       <div class="pbmit-featured-wrapper">
                          <img src="assets/images/team/team-03.jpg" class="img-fluid" alt="">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-12 col-lg-4">
              <div class="pbmit-team-style-1">
                 <div class="pbminfotech-post-item">
                    <div class="pbmit-featured-img-wrapper">
                       <div class="pbmit-featured-wrapper">
                          <img src="assets/images/team/team-04.jpg" class="img-fluid" alt="">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-12 col-lg-4">
              <div class="pbmit-team-style-1">
                 <div class="pbminfotech-post-item">
                    <div class="pbmit-featured-img-wrapper">
                       <div class="pbmit-featured-wrapper">
                          <img src="assets/images/team/team-05.jpg" class="img-fluid" alt="">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-md-12 col-lg-4">
              <div class="pbmit-team-style-1">
                 <div class="pbminfotech-post-item">
                    <div class="pbmit-featured-img-wrapper">
                       <div class="pbmit-featured-wrapper">
                          <img src="assets/images/team/team-06.jpg" class="img-fluid" alt="">
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <div class="row pbminfotech-team-content g-0">
           <div  class="col-md-12 col-lg-4">
              <div class="pbminfotech-box-content">
                 <div class="pbminfotech-box-content-inner">
                    <h3 class="pbmit-team-title">
                       <a href="#">Undram Lkhagvasuren</a>
                    </h3>
                    <div class="pbminfotech-team-position">
                       <div class="pbminfotech-box-team-position">Co-Founder</div>
                    </div>
                    <div class="pbminfotech-social-box">
                       <div class="pbminfotech-box-social-links">
                          <ul class="pbmit-social-links pbmit-team-social-links">
                             <li class="pbmit-social-li pbmit-social-facebook">
                                <a href="#" title="Facebook" target="_blank">
                                   <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-twitter">
                                <a href="#" title="Twitter" target="_blank">
                                   <span><i class="pbmit-base-icon-twitter"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-instagram">
                                <a href="#" title="Instagram" target="_blank">
                                   <span><i class="pbmit-base-icon-instagram"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-youtube">
                                <a href="#" title="Youtube" target="_blank">
                                   <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                </a>
                             </li>
                          </ul>
                       </div>
                    </div>
                 </div>
                 <div class="pbmit-featured-img-wrapper">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/team/team-01.jpg" class="img-fluid" alt="" />
                    </div>
                 </div>
              </div>
           </div>
           <div  class="col-md-12 col-lg-4">
              <div class="pbminfotech-box-content">
                 <div class="pbminfotech-box-content-inner">
                    <h3 class="pbmit-team-title">
                       <a href="#">Bayarjargal Sodbaatar</a>
                    </h3>
                    <div class="pbminfotech-team-position">
                       <div class="pbminfotech-box-team-position">Financial Lawyer</div>
                    </div>
                    <div class="pbminfotech-social-box">
                       <div class="pbminfotech-box-social-links">
                          <ul class="pbmit-social-links pbmit-team-social-links">
                             <li class="pbmit-social-li pbmit-social-facebook">
                                <a href="#" title="Facebook" target="_blank">
                                   <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-twitter">
                                <a href="#" title="Twitter" target="_blank">
                                   <span><i class="pbmit-base-icon-twitter"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-instagram">
                                <a href="#" title="Instagram" target="_blank">
                                   <span><i class="pbmit-base-icon-instagram"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-youtube">
                                <a href="#" title="Youtube" target="_blank">
                                   <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                </a>
                             </li>
                          </ul>
                       </div>
                    </div>
                 </div>
                 <div class="pbmit-featured-img-wrapper">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/team/team-02.jpg" class="img-fluid" alt="" />
                    </div>
                 </div>
              </div>
           </div>
           <div  class="col-md-12 col-lg-4">
              <div class="pbminfotech-box-content">
                 <div class="pbminfotech-box-content-inner">
                    <h3 class="pbmit-team-title">
                       <a href="#">Maralgoo Dashdoorov</a>
                    </h3>
                    <div class="pbminfotech-team-position">
                       <div class="pbminfotech-box-team-position">Family Lawyer</div>
                    </div>
                    <div class="pbminfotech-social-box">
                       <div class="pbminfotech-box-social-links">
                          <ul class="pbmit-social-links pbmit-team-social-links">
                             <li class="pbmit-social-li pbmit-social-facebook">
                                <a href="#" title="Facebook" target="_blank">
                                   <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-twitter">
                                <a href="#" title="Twitter" target="_blank">
                                   <span><i class="pbmit-base-icon-twitter"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-instagram">
                                <a href="#" title="Instagram" target="_blank">
                                   <span><i class="pbmit-base-icon-instagram"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-youtube">
                                <a href="#" title="Youtube" target="_blank">
                                   <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                </a>
                             </li>
                          </ul>
                       </div>
                    </div>
                 </div>
                 <div class="pbmit-featured-img-wrapper">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/team/team-03.jpg" class="img-fluid" alt="" />
                    </div>
                 </div>
              </div>
           </div>
           <div  class="col-md-12 col-lg-4">
              <div class="pbminfotech-box-content">
                 <div class="pbminfotech-box-content-inner">
                    <h3 class="pbmit-team-title">
                       <a href="team-member-details.html">Munkhjargal Galsanjamts</a>
                    </h3>
                    <div class="pbminfotech-team-position">
                       <div class="pbminfotech-box-team-position">Civil Lawyer</div>
                    </div>
                    <div class="pbminfotech-social-box">
                       <div class="pbminfotech-box-social-links">
                          <ul class="pbmit-social-links pbmit-team-social-links">
                             <li class="pbmit-social-li pbmit-social-facebook">
                                <a href="#" title="Facebook" target="_blank">
                                   <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-twitter">
                                <a href="#" title="Twitter" target="_blank">
                                   <span><i class="pbmit-base-icon-twitter"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-instagram">
                                <a href="#" title="Instagram" target="_blank">
                                   <span><i class="pbmit-base-icon-instagram"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-youtube">
                                <a href="#" title="Youtube" target="_blank">
                                   <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                </a>
                             </li>
                          </ul>
                       </div>
                    </div>
                 </div>
                 <div class="pbmit-featured-img-wrapper">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/team/team-04.jpg" class="img-fluid" alt="" />
                    </div>
                 </div>
              </div>
           </div>
           <div  class="col-md-12 col-lg-4">
              <div class="pbminfotech-box-content">
                 <div class="pbminfotech-box-content-inner">
                    <h3 class="pbmit-team-title">
                       <a href="team-member-details.html">Vyacheslav Kekeshkeev</a>
                    </h3>
                    <div class="pbminfotech-team-position">
                       <div class="pbminfotech-box-team-position">Criminal Lawyer</div>
                    </div>
                    <div class="pbminfotech-social-box">
                       <div class="pbminfotech-box-social-links">
                          <ul class="pbmit-social-links pbmit-team-social-links">
                             <li class="pbmit-social-li pbmit-social-facebook">
                                <a href="#" title="Facebook" target="_blank">
                                   <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-twitter">
                                <a href="#" title="Twitter" target="_blank">
                                   <span><i class="pbmit-base-icon-twitter"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-instagram">
                                <a href="#" title="Instagram" target="_blank">
                                   <span><i class="pbmit-base-icon-instagram"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-youtube">
                                <a href="#" title="Youtube" target="_blank">
                                   <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                </a>
                             </li>
                          </ul>
                       </div>
                    </div>
                 </div>
                 <div class="pbmit-featured-img-wrapper">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/team/team-05.jpg" class="img-fluid" alt="" />
                    </div>
                 </div>
              </div>
           </div>
           <div  class="col-md-12 col-lg-4">
              <div class="pbminfotech-box-content">
                 <div class="pbminfotech-box-content-inner">
                    <h3 class="pbmit-team-title">
                       <a href="team-member-details.html">Raelyn Esme</a>
                    </h3>
                    <div class="pbminfotech-team-position">
                       <div class="pbminfotech-box-team-position">General Lawyer</div>
                    </div>
                    <div class="pbminfotech-social-box">
                       <div class="pbminfotech-box-social-links">
                          <ul class="pbmit-social-links pbmit-team-social-links">
                             <li class="pbmit-social-li pbmit-social-facebook">
                                <a href="#" title="Facebook" target="_blank">
                                   <span><i class="pbmit-base-icon-facebook-squared"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-twitter">
                                <a href="#" title="Twitter" target="_blank">
                                   <span><i class="pbmit-base-icon-twitter"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-instagram">
                                <a href="#" title="Instagram" target="_blank">
                                   <span><i class="pbmit-base-icon-instagram"></i></span>
                                </a>
                             </li>
                             <li class="pbmit-social-li pbmit-social-youtube">
                                <a href="#" title="Youtube" target="_blank">
                                   <span><i class="pbmit-base-icon-youtube-play"></i></span>
                                </a>
                             </li>
                          </ul>
                       </div>
                    </div>
                 </div>
                 <div class="pbmit-featured-img-wrapper">
                    <div class="pbmit-featured-wrapper">
                       <img src="assets/images/team/team-06.jpg" class="img-fluid" alt="" />
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- Team End -->
