<!-- Team Start -->
 <div class="pbmit-heading text-center bg-color-dark animation-style2" style="margin-top: 60px;">
    <h2 class="pbmit-title">
      Our People
    </h2>
  </div>

<section class="team-style-1 pbmit-bg-color-blackish" data-cursor="white-color">
  <div class="pbmit-element-team-style-1">
    <div class="container-fluid" style="width: 100%; height: 100%">
      <div class="row g-0 hove-img">
        <div *ngFor="let person of people" class="col-md-12 col-lg-4">
          <div class="pbmit-team-style-1">
            <div class="pbminfotech-post-item">
              <div class="pbmit-featured-img-wrapper">
                <div class="pbmit-featured-wrapper">
                  <img
                    [src]="person.img"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pbminfotech-team-content g-0">
        <div *ngFor="let person of people" class="col-md-12 col-lg-4">
          <div class="pbminfotech-box-content">
            <div class="pbminfotech-box-content-inner">
              <h3 class="pbmit-team-title">
                <a [href]="'/person/'+person.id">{{person.name}}</a>
              </h3>
              <div class="pbminfotech-team-position">
                <div class="pbminfotech-box-team-position">{{person.role}}</div>
              </div>
              <div class="pbminfotech-social-box">
                <div class="pbminfotech-box-social-links">
                  <ul class="pbmit-social-links pbmit-team-social-links">
                    <li class="pbmit-social-li pbmit-social-facebook" *ngIf="person.facebook != ''">
                      <a [href]="person.facebook" title="Facebook" target="_blank" rel="noreferrer">
                        <span
                          ><i class="pbmit-base-icon-facebook-squared"></i
                        ></span>
                      </a>
                    </li>
                    <li class="pbmit-social-li pbmit-social-twitter" *ngIf="person.twitter != ''">
                      <a [href]="person.twitter" title="Twitter" target="_blank" rel="noreferrer">
                        <span><i class="pbmit-base-icon-twitter"></i></span>
                      </a>
                    </li>
                    <li class="pbmit-social-li pbmit-social-instagram" *ngIf="person.instagram != ''">
                      <a [href]="person.instagram" title="Instagram" target="_blank" rel="noreferrer">
                        <span><i class="pbmit-base-icon-instagram"></i></span>
                      </a>
                    </li>
                    <li class="pbmit-social-li pbmit-social-youtube" *ngIf="person.youtube != ''">
                      <a [href]="person.youtube" title="Youtube" target="_blank" rel="noreferrer">
                        <span
                          ><i class="pbmit-base-icon-youtube-play"></i
                        ></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="pbmit-featured-img-wrapper">
              <div class="pbmit-featured-wrapper">
                <img
                  [src]="person.img"
                  class="img-fluid"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team End -->
