@font-face {
    font-family: "flaticon_attortly";
    src: url("/assets/fonts/flaticon_attortly.ttf?e3a0a1243cd9c45848c1043829a335c4") format("truetype"),
        url("/assets/fonts/fonts/flaticon_attortly.woff?e3a0a1243cd9c45848c1043829a335c4") format("woff"),
        url("/assets/fonts/fonts/flaticon_attortly.woff2?e3a0a1243cd9c45848c1043829a335c4") format("woff2"),
        url("/assets/fonts/fonts/flaticon.eot?e3a0a1243cd9c45848c1043829a335c4#iefix") format("embedded-opentype"),
        url("/assets/fonts/fonts/flaticon.svg?e3a0a1243cd9c45848c1043829a335c4#flaticon") format("svg");
    }

i[class^="flaticon_attortly-"]:before,
i[class*=" pbmit-attorly-icon-"]:before {
    font-family: flaticon_attortly !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pbmit-attorly-icon-agreement:before {
    content: "\f101";
}

.pbmit-attorly-icon-justice-scale:before {
    content: "\f102";
}

.pbmit-attorly-icon-gavel:before {
    content: "\f103";
}

.pbmit-attorly-icon-courthouse:before {
    content: "\f104";
}

.pbmit-attorly-icon-justice-scale-1:before {
    content: "\f105";
}

.pbmit-attorly-icon-police-shield:before {
    content: "\f106";
}

.pbmit-attorly-icon-court:before {
    content: "\f107";
}

.pbmit-attorly-icon-police-badge:before {
    content: "\f108";
}

.pbmit-attorly-icon-certificate:before {
    content: "\f109";
}

.pbmit-attorly-icon-law-book:before {
    content: "\f10a";
}

.pbmit-attorly-icon-contract:before {
    content: "\f10b";
}

.pbmit-attorly-icon-investigation:before {
    content: "\f10c";
}

.pbmit-attorly-icon-parchment:before {
    content: "\f10d";
}

.pbmit-attorly-icon-briefcase:before {
    content: "\f10e";
}

.pbmit-attorly-icon-nightstick:before {
    content: "\f10f";
}

.pbmit-attorly-icon-handcuffs:before {
    content: "\f110";
}

.pbmit-attorly-icon-pistol:before {
    content: "\f111";
}

.pbmit-attorly-icon-umbrella:before {
    content: "\f112";
}

.pbmit-attorly-icon-police-station:before {
    content: "\f113";
}

.pbmit-attorly-icon-jail:before {
    content: "\f114";
}

.pbmit-attorly-icon-police-shield-1:before {
    content: "\f115";
}

.pbmit-attorly-icon-police-station-1:before {
    content: "\f116";
}

.pbmit-attorly-icon-roman-law:before {
    content: "\f117";
}

.pbmit-attorly-icon-security:before {
    content: "\f118";
}

.pbmit-attorly-icon-military:before {
    content: "\f119";
}

.pbmit-attorly-icon-fingerprint:before {
    content: "\f11a";
}

.pbmit-attorly-icon-gavel-1:before {
    content: "\f11b";
}

.pbmit-attorly-icon-parchment-1:before {
    content: "\f11c";
}

.pbmit-attorly-icon-courthouse-1:before {
    content: "\f11d";
}

.pbmit-attorly-icon-court-1:before {
    content: "\f11e";
}

.pbmit-attorly-icon-jail-1:before {
    content: "\f11f";
}

.pbmit-attorly-icon-briefcase-1:before {
    content: "\f120";
}

.pbmit-attorly-icon-handcuffs-1:before {
    content: "\f121";
}

.pbmit-attorly-icon-investigation-1:before {
    content: "\f122";
}

.pbmit-attorly-icon-cctv:before {
    content: "\f123";
}

.pbmit-attorly-icon-crime-scene:before {
    content: "\f124";
}

.pbmit-attorly-icon-pistol-1:before {
    content: "\f125";
}

.pbmit-attorly-icon-justice-scale-2:before {
    content: "\f126";
}

.pbmit-attorly-icon-police-badge-1:before {
    content: "\f127";
}

.pbmit-attorly-icon-prisoner:before {
    content: "\f128";
}

.pbmit-attorly-icon-cash:before {
    content: "\f129";
}

.pbmit-attorly-icon-bandit:before {
    content: "\f12a";
}

.pbmit-attorly-icon-safe:before {
    content: "\f12b";
}

.pbmit-attorly-icon-law-book-1:before {
    content: "\f12c";
}

.pbmit-attorly-icon-police-badge-2:before {
    content: "\f12d";
}

.pbmit-attorly-icon-emergency:before {
    content: "\f12e";
}

.pbmit-attorly-icon-judge:before {
    content: "\f12f";
}

.pbmit-attorly-icon-camera:before {
    content: "\f130";
}

.pbmit-attorly-icon-contract-1:before {
    content: "\f131";
}

.pbmit-attorly-icon-down-arrow:before {
    content: "\f132";
}

.pbmit-attorly-icon-download:before {
    content: "\f133";
}

.pbmit-attorly-icon-dot:before {
    content: "\f134";
}

.pbmit-attorly-icon-right-up:before {
    content: "\f135";
}

.pbmit-attorly-icon-up-right-arrow:before {
    content: "\f136";
}

.pbmit-attorly-icon-auction:before {
    content: "\f137";
}

.pbmit-attorly-icon-courthouse-2:before {
    content: "\f138";
}

.pbmit-attorly-icon-bill:before {
    content: "\f139";
}

.pbmit-attorly-icon-law:before {
    content: "\f13a";
}

.pbmit-attorly-icon-arrow:before {
    content: "\f13b";
}

.pbmit-attorly-icon-gavel-2:before {
    content: "\f13c";
}

.pbmit-attorly-icon-law-1:before {
    content: "\f13d";
}

.pbmit-attorly-icon-customer-service:before {
    content: "\f13e";
}

.pbmit-attorly-icon-oath:before {
    content: "\f13f";
}

.pbmit-attorly-icon-honesty:before {
    content: "\f140";
}

.pbmit-attorly-icon-hammer:before {
    content: "\f141";
}

.pbmit-attorly-icon-phone-call:before {
    content: "\f142";
}

.pbmit-attorly-icon-chat:before {
    content: "\f143";
}

.pbmit-attorly-icon-at:before {
    content: "\f144";
}

.pbmit-attorly-icon-news:before {
    content: "\f145";
}
