<!-- Testimonial Start -->
<section class="testimonail-section-home1" data-cursor="white-color">
  <div class="container">
     <div class="swiper-slider pbmit-element-testimonial-style-1" data-loop="true" data-autoplay="false" data-dots="false" data-arrows="true" data-columns="1" data-margin="30" data-effect="slide">
        <div class="swiper-wrapper">
           <div class="swiper-slide">
               <!-- Slide1 -->
               <article class="pbmit-testimonial-style-1">
                 <div class="pbminfotech-post-item">
                    <div class="pbmit-featured-wrapper">
                       <img src="images/testimonial/testimonial-03.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="pbminfotech-box-content">
                       <div class="pbminfotech-box-desc">
                          <blockquote class="pbminfotech-testimonial-text">
                             <div class="at-above-post-homepage addthis_tool"></div>
                             <p>“It was really great working with Mobiteam and I am happy I was introd uced to this team! It’s not easy to work on a website some one else I am grateful that Mobiteam.”</p>
                             <div class="at-below-post-homepage addthis_tool"></div>
                          </blockquote>
                       </div>
                       <div class="pbminfotech-box-author">
                          <h3 class="pbminfotech-box-title">Ariella Olive</h3>
                          <div class="pbminfotech-testimonial-detail">Managing director of company</div>
                       </div>
                    </div>
                 </div>
              </article>
           </div>
           <div class="swiper-slide">
              <!-- Slide2 -->
              <article class="pbmit-testimonial-style-1">
                <div class="pbminfotech-post-item">
                   <div class="pbmit-featured-wrapper">
                      <img src="images/testimonial/testimonial-01.jpg" class="img-fluid" alt="">
                   </div>
                   <div class="pbminfotech-box-content">
                      <div class="pbminfotech-box-desc">
                         <blockquote class="pbminfotech-testimonial-text">
                            <div class="at-above-post-homepage addthis_tool"></div>
                            <p>“It was really great working with Mobiteam and I am happy I was introd uced to this team! It’s not easy to work on a website some one else I am grateful that Mobiteam.”</p>
                            <div class="at-below-post-homepage addthis_tool"></div>
                         </blockquote>
                      </div>
                      <div class="pbminfotech-box-author">
                         <h3 class="pbminfotech-box-title">Amelia Daniel</h3>
                         <div class="pbminfotech-testimonial-detail">Co founder and CEO</div>
                      </div>
                   </div>
                </div>
             </article>
           </div>
           <div class="swiper-slide">
              <!-- Slide3 -->
              <article class="pbmit-testimonial-style-1">
              <div class="pbminfotech-post-item">
                 <div class="pbmit-featured-wrapper">
                    <img src="images/testimonial/testimonial-02.jpg" class="img-fluid" alt="">
                 </div>
                 <div class="pbminfotech-box-content">
                    <div class="pbminfotech-box-desc">
                       <blockquote class="pbminfotech-testimonial-text">
                          <div class="at-above-post-homepage addthis_tool"></div>
                          <p>“It was really great working with Mobiteam and I am happy I was introd uced to this team! It’s not easy to work on a website some one else I am grateful that Mobiteam.”</p>
                          <div class="at-below-post-homepage addthis_tool"></div>
                       </blockquote>
                    </div>
                    <div class="pbminfotech-box-author">
                       <h3 class="pbminfotech-box-title">Jordan Billy</h3>
                       <div class="pbminfotech-testimonial-detail">Manager and founder</div>
                    </div>
                 </div>
              </div>
              </article>
           </div>
        </div>
     </div>
  </div>
  <div class="client-section-home1">
     <div class="container-fluid">
        <div class="swiper-slider marquee">
           <div class="swiper-wrapper">
              <div class="swiper-slide">
                 <article class="pbmit-client-style-1">
                    <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                       <h4 class="pbmit-hide">client 07</h4>
                       <div class="pbmit-client-hover-img">
                          <img src="images/client/client-hover-07.png" class="img-fluid"  alt="">
                       </div>
                       <div class="pbmit-featured-wrapper">
                          <img src="images/client/client-white-07.png" class="img-fluid" alt="">
                       </div>
                    </div>
                 </article>
              </div>
              <div class="swiper-slide">
                 <article class="pbmit-client-style-1">
                    <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                       <h4 class="pbmit-hide">client 06</h4>
                       <div class="pbmit-client-hover-img">
                          <img src="images/client/client-hover-06.png" class="img-fluid"  alt="">
                       </div>
                       <div class="pbmit-featured-wrapper">
                          <img src="images/client/client-white-06.png" class="img-fluid" alt="">
                       </div>
                    </div>
                 </article>
              </div>
              <div class="swiper-slide">
                 <article class="pbmit-client-style-1">
                    <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                       <h4 class="pbmit-hide">client 05</h4>
                       <div class="pbmit-client-hover-img">
                          <img src="images/client/client-hover-05.png" class="img-fluid"  alt="">
                       </div>
                       <div class="pbmit-featured-wrapper">
                          <img src="images/client/client-white-05.png" class="img-fluid" alt="">
                       </div>
                    </div>
                 </article>
              </div>
              <div class="swiper-slide">
                 <article class="pbmit-client-style-1">
                    <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                       <h4 class="pbmit-hide">client 04</h4>
                       <div class="pbmit-client-hover-img">
                          <img src="images/client/client-hover-04.png" class="img-fluid"  alt="">
                       </div>
                       <div class="pbmit-featured-wrapper">
                          <img src="images/client/client-white-04.png" class="img-fluid" alt="">
                       </div>
                    </div>
                 </article>
              </div>
              <div class="swiper-slide">
                 <article class="pbmit-client-style-1">
                    <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                       <h4 class="pbmit-hide">client 03</h4>
                       <div class="pbmit-client-hover-img">
                          <img src="images/client/client-hover-03.png" class="img-fluid"  alt="">
                       </div>
                       <div class="pbmit-featured-wrapper">
                          <img src="images/client/client-white-03.png" class="img-fluid" alt="">
                       </div>
                    </div>
                 </article>
              </div>
              <div class="swiper-slide">
                 <article class="pbmit-client-style-1">
                    <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                       <h4 class="pbmit-hide">client 02</h4>
                       <div class="pbmit-client-hover-img">
                          <img src="images/client/client-hover-02.png" class="img-fluid"  alt="">
                       </div>
                       <div class="pbmit-featured-wrapper">
                          <img src="images/client/client-white-02.png" class="img-fluid" alt="">
                       </div>
                    </div>
                 </article>
              </div>
              <div class="swiper-slide">
                 <article class="pbmit-client-style-1">
                    <div class="pbmit-client-wrapper pbmit-client-with-hover-img">
                       <h4 class="pbmit-hide">client 01</h4>
                       <div class="pbmit-client-hover-img">
                          <img src="images/client/client-hover-01.png" class="img-fluid"  alt="">
                       </div>
                       <div class="pbmit-featured-wrapper">
                          <img src="images/client/client-white-01.png" class="img-fluid" alt="">
                       </div>
                    </div>
                 </article>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- Testimonial End -->
