<!-- Marquee Start -->
<section class="pbmit-bg-color-global marquee-section-home1">
  <div class="container-fluid">
     <div class="swiper-slider marquee">
        <div class="swiper-wrapper">
           <div class="swiper-slide">
              <article class="pbmit-marquee-effect pbmit-marquee-effect-style-1">
                 <div class="pbmit-tag-wrapper">
                    <h2 class="pbmit-element-title"> Our Team</h2>
                 </div>
              </article>
           </div>
           <div class="swiper-slide">
              <article class="pbmit-marquee-effect pbmit-marquee-effect-style-1">
                 <div class="pbmit-tag-wrapper">
                    <h2 class="pbmit-element-title"> Our Team</h2>
                 </div>
              </article>
           </div>
           <div class="swiper-slide">
              <article class="pbmit-marquee-effect pbmit-marquee-effect-style-1">
                 <div class="pbmit-tag-wrapper">
                    <h2 class="pbmit-element-title"> Our Team</h2>
                 </div>
              </article>
           </div>
           <div class="swiper-slide">
              <article class="pbmit-marquee-effect pbmit-marquee-effect-style-1">
                 <div class="pbmit-tag-wrapper">
                    <h2 class="pbmit-element-title"> Our Team</h2>
                 </div>
              </article>
           </div>
           <div class="swiper-slide">
              <article class="pbmit-marquee-effect pbmit-marquee-effect-style-1">
                 <div class="pbmit-tag-wrapper">
                    <h2 class="pbmit-element-title"> Our Team</h2>
                 </div>
              </article>
           </div>
           <div class="swiper-slide">
              <article class="pbmit-marquee-effect pbmit-marquee-effect-style-1">
                 <div class="pbmit-tag-wrapper">
                    <h2 class="pbmit-element-title"> Our Team</h2>
                 </div>
              </article>
           </div>
           <div class="swiper-slide">
              <article class="pbmit-marquee-effect pbmit-marquee-effect-style-1">
                 <div class="pbmit-tag-wrapper">
                    <h2 class="pbmit-element-title"> Our Team</h2>
                 </div>
              </article>
           </div>
           <div class="swiper-slide">
              <article class="pbmit-marquee-effect pbmit-marquee-effect-style-1">
                 <div class="pbmit-tag-wrapper">
                    <h2 class="pbmit-element-title"> Our Team</h2>
                 </div>
              </article>
           </div>
           <div class="swiper-slide">
              <article class="pbmit-marquee-effect pbmit-marquee-effect-style-1">
                 <div class="pbmit-tag-wrapper">
                    <h2 class="pbmit-element-title"> Our Team</h2>
                 </div>
              </article>
           </div>
           <div class="swiper-slide">
              <article class="pbmit-marquee-effect pbmit-marquee-effect-style-1">
                 <div class="pbmit-tag-wrapper">
                    <h2 class="pbmit-element-title"> Our Team</h2>
                 </div>
              </article>
           </div>
           <div class="swiper-slide">
              <article class="pbmit-marquee-effect pbmit-marquee-effect-style-1">
                 <div class="pbmit-tag-wrapper">
                    <h2 class="pbmit-element-title"> Our Team</h2>
                 </div>
              </article>
           </div>
           <div class="swiper-slide">
              <article class="pbmit-marquee-effect pbmit-marquee-effect-style-1">
                 <div class="pbmit-tag-wrapper">
                    <h2 class="pbmit-element-title"> Our Team</h2>
                 </div>
              </article>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- Marquee End -->
