<!-- Title Bar -->
<div class="pbmit-title-bar-wrapper">
  <div class="container">
    <div class="pbmit-title-bar-content">
      <div class="pbmit-title-bar-content-inner">
        <div class="pbmit-tbar">
          <div class="pbmit-tbar-inner container">
            <h1 class="pbmit-tbar-title">{{person?.name}}</h1>
          </div>
        </div>
        <!-- <div class="pbmit-breadcrumb">
          <div class="pbmit-breadcrumb-inner">
            <span
              ><span class="post-root post post-post current-item">
                Role</span
              ></span
            >
            <span class="sep"><i class="pbmit-base-icon-right-small"></i></span>
            <span
              ><span class="post-root post post-post current-item"
                >{{person?.role}}</span
              ></span
            >
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- Title Bar End-->

<!-- Page Content -->
<div class="page-content">
  <!-- Team Member-->
  <section class="team-details-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="pbmit-team-details">
            <img [src]="person?.img" class="w-100" alt="" />
            <div class="pbmit-team-detail-inner">
              <div class="pbmit-team-summary">
                <h4 class="pbmit-team-designation">{{person?.role}}</h4>
                <h2 class="pbmit-team-title">{{person?.name}}</h2>
              </div>
              <ul class="pbmit-single-team-info">
                <li><label>Phone</label> {{person?.phone}} </li>
                <li>
                  <label>Email</label>
                  <a [href]="'mailto:'+person?.email"
                    >{{person?.email}}</a
                  >
                </li>
              </ul>
              <ul class="pbmit-social-links pbmit-team-social-links">
                <li class="pbmit-social-li pbmit-social-facebook" *ngIf="person?.facebook != ''">
                  <a [href]="person?.facebook" title="Facebook" target="_blank" rel="noreferrer">
                    <span
                      ><i class="pbmit-base-icon-facebook-squared"></i
                    ></span>
                  </a>
                </li>
                <li class="pbmit-social-li pbmit-social-twitter" *ngIf="person?.twitter != ''">
                  <a [href]="person?.twitter" title="Twitter" target="_blank" rel="noreferrer">
                    <span><i class="pbmit-base-icon-twitter"></i></span>
                  </a>
                </li>
                <li class="pbmit-social-li pbmit-social-instagram" *ngIf="person?.instagram != ''">
                  <a [href]="person?.instagram" title="Instagram" target="_blank" rel="noreferrer">
                    <span><i class="pbmit-base-icon-instagram"></i></span>
                  </a>
                </li>
                <li class="pbmit-social-li pbmit-social-youtube" *ngIf="person?.youtube != ''">
                  <a [href]="person?.youtube" title="Youtube" target="_blank" rel="noreferrer">
                    <span><i class="pbmit-base-icon-youtube-play"></i></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="team-details-wrap">
            <!-- <h4 class="pbmit-title">Personal Info</h4> -->
            <div class="about-text" [innerHTML]="person?.about">
            </div>
          </div>
          <!-- <div class="team-progress">
            <div class="row">
              <div class="col-md-12 col-xl-6">
                <div class="">
                  <h4 class="pbmit-title">Professional Skills</h4>
                  <p>
                    For each business, we take a bespoke approach to developing
                    change within the organisation.
                  </p>
                  <div class="progressbar">
                    <span class="progress-label">PRACTICE AREA</span>
                    <div class="progress progress-lg progress-percent-bg">
                      <div
                        class="progress-bar aos aos-init aos-animate"
                        data-aos="slide-right"
                        data-aos-delay="200"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out"
                        role="progressbar"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 80%"
                      ></div>
                      <span class="progress-percent">80%</span>
                    </div>
                  </div>
                  <div class="progressbar">
                    <span class="progress-label">SUCCESS CASE</span>
                    <div class="progress progress-lg progress-percent-bg">
                      <div
                        class="progress-bar aos aos-init aos-animate"
                        data-aos="slide-right"
                        data-aos-delay="200"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out"
                        role="progressbar"
                        aria-valuenow="92"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 92%"
                      ></div>
                      <span class="progress-percent">92%</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-xl-6 team-info">
                <h4 class="pbmit-title">Education & Awards</h4>
                <p>
                  For each business, we take a bespoke approach to developing
                  change within the.
                </p>
                <div class="">
                  <div class="d-flex justify-content-start">
                    <h2>2002-2005 :</h2>
                    <p>For each business, we take a</p>
                  </div>
                  <div class="d-flex justify-content-start">
                    <h2>2010-2012 :</h2>
                    <p>bespoke approach to developing</p>
                  </div>
                  <div class="d-flex justify-content-start">
                    <h2>2012-2019 :</h2>
                    <p>change within the organisation</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="team-details-contact">
            <h4 class="pbmit-title">Leave a Reply</h4>
            <p>
              Your Email Address will not be published.required field are marked
              *
            </p>
            <form>
              <div class="row">
                <div class="col-md-12 team-input-group">
                  <textarea
                    class="form-control"
                    rows="5"
                    placeholder="Your Comment"
                    name="Your Comment"
                  ></textarea>
                </div>
                <div class="col-md-12 team-input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Your Name*"
                    name="Your Name*"
                  />
                </div>
                <div class="col-md-12 team-input-group">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email Address*"
                    name="Email Address*"
                  />
                </div>
                <div class="team-btn">
                  <a href="#" class="pbmit-btn">
                    <span>Send Message</span>
                  </a>
                </div>
              </div>
            </form>
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <!-- Team Member end -->
</div>
<!-- Page Content End -->
