<!-- Experience Start -->
<section class="experience-section-home1 section-lgb">
  <div class="container">
     <div class="pbmit-heading  text-center animation-style2">
        <h2 class="pbmit-title">A Passion For Justice. The<br>
           Experience For Win.</h2>
     </div>
  </div>
  <div class="contianer" data-cursor-text="Drag">
     <div class="pbmit-timeline">
        <ol>
           <li>
              <div class="pbmit-content">
                 <div class="pbmit-content-inner">
                    <div class="pbmit-hover-img">
                       <img src="assets/images/history/history01.jpg" alt="Our new branch">
                    </div>
                    <div class="time">June 2015</div>
                    <p class="simple-text"> sed do eiusmod tempor labore<br>dolore magna aliqua.</p>
                 </div>
              </div>
           </li>
           <li>
              <div class="pbmit-content">
                 <div class="pbmit-content-inner">
                    <div class="pbmit-hover-img">
                       <img src="assets/images/history/history02.jpg" alt="Our new branch">
                    </div>
                    <div class="time">June 2017</div>
                    <p class="simple-text"> sed do eiusmod tempor labore<br>dolore magna aliqua.</p>
                 </div>
              </div>
           </li>
           <li>
              <div class="pbmit-content">
                 <div class="pbmit-content-inner">
                    <div class="pbmit-hover-img">
                       <img src="assets/images/history/history03.jpg" alt="Our new branch">
                    </div>
                    <div class="time">June 2019</div>
                    <p class="simple-text"> sed do eiusmod tempor labore<br>dolore magna aliqua.</p>
                 </div>
              </div>
           </li>
           <li>
              <div class="pbmit-content">
                 <div class="pbmit-content-inner">
                    <div class="pbmit-hover-img">
                       <img src="assets/images/history/history05.jpg" alt="Our new branch">
                    </div>
                    <div class="time">Aug 2020</div>
                    <p class="simple-text"> sed do eiusmod tempor labore<br>dolore magna aliqua.</p>
                 </div>
              </div>
           </li>
           <li>
              <div class="pbmit-content">
                 <div class="pbmit-content-inner">
                    <div class="pbmit-hover-img">
                       <img src="assets/images/history/history07.jpg" alt="Our new branch">
                    </div>
                    <div class="time">Sep 2021</div>
                    <p class="simple-text"> sed do eiusmod tempor labore<br>dolore magna aliqua.</p>
                 </div>
              </div>
           </li>
           <li>
              <div class="pbmit-content">
                 <div class="pbmit-content-inner">
                    <div class="pbmit-hover-img">
                       <img src="assets/images/history/history06.jpg" alt="Our new branch">
                    </div>
                    <div class="time">Dec 2022</div>
                    <p class="simple-text"> sed do eiusmod tempor labore<br>dolore magna aliqua.</p>
                 </div>
              </div>
           </li>
           <li>
              <div class="pbmit-content">
                 <div class="pbmit-content-inner">
                    <div class="pbmit-hover-img">
                       <img src="assets/images/history/history04.jpg" alt="Our new branch">
                    </div>
                    <div class="time">Dec 2022</div>
                    <p class="simple-text"> sed do eiusmod tempor labore<br>dolore magna aliqua.</p>
                 </div>
              </div>
           </li>
        </ol>
        <div class="pbmit-hide">
           <div class="arrows">
              <button class="arrow arrow__prev disabled" disabled>
                 <i class="pbmit-base-icon-arrow-left"></i>
              </button>
              <button class="arrow arrow__next">
                 <i class="pbmit-base-icon-arrow-right"></i>
              </button>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- Experience End -->
